data
.ipynb_checkpoints
local_checkpoints
wandb
__pycache__
media
outputs
.env
# our stuff
experiments3.sh
.vscode/settings.json
# follow https://github.com/felipemaiapolo/tinyBenchmarks to download tinybenchmark stuff..
tinyBenchmarks.pkl